body {
  font-family: HelveticaNeue, Helvetica, sans-serif;
}

.Onde {
  > .container {
  }

  .create {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 24px;
  }

  .status {
    position: absolute;
    left: 0;
    right: 0px;
    height: 24px;
    bottom: 0;
  }
}

.SearchBox {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 24px;
  overflow: auto;

  > .entry {
    height: 16px;
    width: 95%;
    margin-bottom: 8px;
  }

  > .results {
    background-color: #f2f2f2;
  }
}

.SearchCard {
  display: inline-block;
  margin: 8px;
  width: 235px;
  height: 120px;
  cursor: pointer;
  background-color: white;
  border-radius: 2px;
  padding: 4px;

  > .title {
    height: 40px;
    overflow: hidden;
    margin-bottom: 8px;
  }

  > .body {
    height: 64px;
    overflow: hidden;
    font-size: 12px;
    color: #888;
  }
}

.CardDetail {
  position: absolute;
  left: 256px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid black;

  > .close-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0;
    top: 0;
    background-color: white;
    border-radius: 8px;
    border: 1px solid red;
    color: red;
    cursor: pointer;
  }

  > .TitleEditor {
    position: absolute;
    left: 0;
    width: 512px;
    top: 0;
    bottom: 0;
    height: 24px;
  }

  > .AceEditor {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 24px;
    height: 384px;
  }

  > .CommentList {
    position: absolute;
    left: 0;
    right: 0;
    top: 408px;
    bottom: 0;

    > .create {
      position: absolute;
      right: 0;
      top: 0;
    }

    > .editor {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 24px;

      input {
        width: 90%;
      }
    }

    > .results {
      position: absolute;
      left: 0;
      right: 0;
      top: 24px;
      bottom: 0;
    }
  }
}

.DialogGlass {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
}
