body {
  font-family: HelveticaNeue, Helvetica, sans-serif;
  font-size: 14px;
}

@mixin ellipsify($width, $font-size, $line-height, $lines) {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: $width;
  height: $font-size * $line-height * $lines; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Onde {
  > .container {
  }

  .create {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 24px;
  }

  .status {
    position: absolute;
    left: 0;
    right: 0px;
    height: 24px;
    bottom: 0;
  }
}

.SavedSearches {
  position: absolute;
  top: 0;
  bottom: 24px;
  left: 0;
  width: 192px;

  a {
    color: black;
    display: block;
    text-overflow: ellipsis;
  }
  a:visited {
    color: black;
  }
}

.SearchBox {
  position: absolute;
  left: 192px;
  right: 0;
  top: 0;
  bottom: 24px;
  overflow: auto;

  > .entry {
    height: 16px;
    width: 95%;
    margin-bottom: 8px;
  }

  > .results {
    background-color: #f2f2f2;
  }
}

.SearchCard {
  display: inline-block;
  margin: 8px;
  width: 235px;
  height: 120px;
  cursor: pointer;
  background-color: white;
  border-radius: 2px;
  padding: 4px;

  > .title {
    @include ellipsify(235, 16px, 1.2, 2);
    overflow: hidden;
    margin-bottom: 8px;
  }

  > .body {
    @include ellipsify(235, 12px, 1.2, 5);
    overflow: hidden;
    color: #888;
  }
}

.CardDetail {
  position: absolute;
  left: 256px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  border: 1px solid black;

  > .kind {
    position: absolute;
    top: 0;
    right: 120px;
    width: 64px;
  }

  > .done-label {
    position: absolute;
    top: 0;
    right: 70px;
    width: 48px;
    font-size: 12px;

    > .done {
    }
  }

  > .edit-mode {
    position: absolute;
    top: 0;
    right: 20px;
    width: 48px;
  }

  > .close {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0;
    top: 0;
    background-color: white;
    border-radius: 8px;
    border: 1px solid red;
    color: red;
    cursor: pointer;
  }

  > .display {
    > .title {
      position: absolute;
      left: 0;
      right: 200px;
      top: 0;
      height: 32px;
      line-height: 24px;
      font-size: 16px;
    }

    > .body {
      position: absolute;
      left: 0;
      right: 0;
      top: 40px;
      height: 384px;
    }
  }

  > .edit {
    display: none;

    > .title {
      position: absolute;
      left: 0;
      right: 200px;
      top: 0;
      height: 32px;

      > input {
        width: 100%;
        line-height: 24px;
        font-size: 16px;
      }
    }

    > .body {
      position: absolute;
      left: 0;
      right: 0;
      top: 40px;
      height: 384px;
    }
  }

  > .comments {
    position: absolute;
    left: 0;
    right: 0;
    top: 432px;
    bottom: 0;
  }
}

.AceEditor {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.CommentList {
  > .create {
    position: absolute;
    right: 0;
    top: 0;
  }

  > .editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 24px;

    > textarea {
      width: 90%;
    }
  }

  > .results {
    position: absolute;
    left: 0;
    right: 0;
    top: 64px;
    bottom: 0;
  }
}

.DialogGlass {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
}
